
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ANTRA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Region
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/region/list'">List</a></li>
            <li><a class="dropdown-item" [routerLink]="'/region/add'">Add New Region</a></li>
            <li><a class="dropdown-item" [routerLink]="'/region/edit'">Edit Region</a></li>
            <li><a class="dropdown-item" [routerLink]="'/region/delete'">Delete Region</a></li>
            <li><a class="dropdown-item" [routerLink]="'/region/update'">Update Region</a></li>
            
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employee
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/employee/list'">List</a></li>
            <li><a class="dropdown-item" [routerLink]="'/employee/add'">Add New Employee</a></li>
            <li><a class="dropdown-item" [routerLink]="'/employee/edit'"> Edit Employee</a></li>
            <li><a class="dropdown-item" [routerLink]="'/employee/delete'">Delete Employee</a></li>
            <li><a class="dropdown-item" [routerLink]="'/employee/update'">Update Employee</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/products/list'">List</a></li>
            <li><a class="dropdown-item" [routerLink]="'/products/add'">Add New Product</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vendor 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/shipper/list'">List</a></li>
            <li><a class="dropdown-item" [routerLink]="'/shipper/add'">Add New Shipper</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shipper
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/vendor/list'">List</a></li>
            <li><a class="dropdown-item" [routerLink]="'/vendor/add'">Add New Vendor</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sign UP
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" [routerLink]="'/account/singup'">Creat an Account</a></li>
        </ul>
      </li>
    
        
        

        <button class="btn btn-outline-success" type="submit">Search</button>
      
    </div>
  </div>
</nav>

<div class="container"> 
<router-outlet></router-outlet>
</div>
<!--
<h1>{{applicationName | uppercase}} </h1>
{{studentName}} <br/>
{{50 | currency:'NIR'}} <br/>
{{"Welcome to Angular ="+studentName}} <br/>
{{6+4}} <br/>


<input type="text" value="{{studentName+ 'Welcome'}}"/> 
<br/>

{{isDevEnvironment}} <br/>


<div *ngIf="isDevEnvironment; else production">
  <h1> you are in Development page</h1>
</div>
<div>
<ng-template #production>
    <h1>
      Production Environment
    </h1>
</ng-template>
</div>

<br/>

<input type="button" value="togglediv" (click)="togglediv()"/>
<div *ngIf="showDiv">
  <h1> this div will be toggle</h1>
</div>

<ul >
  <li *ngFor=" let c of countries"> {{c}}</li>

</ul>
<select>
  <option *ngFor=" let c of countries">{{c}}</option>
</select>

<table border="1">
  <tr *ngFor="let c of countries, index as i, even as e, first as f, last as l">
    <td>{{c}}</td>
    <td>{{i}}</td>
    <td>{{e}}</td>
    <td>{{f}}</td>
    <td>{{l}}</td>

  </tr>
</table>
-->