<router-outlet>
  
</router-outlet>
<!--
<h1>{{applicationName | uppercase}} </h1>
{{studentName}} <br/>
{{50 | currency:'NIR'}} <br/>
{{"Welcome to Angular ="+studentName}} <br/>
{{6+4}} <br/>


<input type="text" value="{{studentName+ 'Welcome'}}"/> 
<br/>

{{isDevEnvironment}} <br/>


<div *ngIf="isDevEnvironment; else production">
  <h1> you are in Development page</h1>
</div>
<div>
<ng-template #production>
    <h1>
      Production Environment
    </h1>
</ng-template>
</div>

<br/>

<input type="button" value="togglediv" (click)="togglediv()"/>
<div *ngIf="showDiv">
  <h1> this div will be toggle</h1>
</div>

<ul >
  <li *ngFor=" let c of countries"> {{c}}</li>

</ul>
<select>
  <option *ngFor=" let c of countries">{{c}}</option>
</select>

<table border="1">
  <tr *ngFor="let c of countries, index as i, even as e, first as f, last as l">
    <td>{{c}}</td>
    <td>{{i}}</td>
    <td>{{e}}</td>
    <td>{{f}}</td>
    <td>{{l}}</td>

  </tr>
</table>
-->